*,*:before,*:after {
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin:0;
    padding:0;
}

.u-clearfix, .u-clearfix:after {
    clear:both
}

.u-clearfix:before, .u-clearfix:after {
    content:'';
    display:table;
}


body {
    background-color:#fafafa;
    font-size:14px;
    font-family:'Encode Sans Expanded', sans-serif;
}

.container-inner {
    width:600px;
    max-width:100%;
    margin:0 auto;
}

.header {
    background-color:#2e2e2e;
    padding:400px 0;
    width:100%;
}

.header-title {
    font-size:2em;
    color:#fff;
    line-height:1;
}

.header-github {
  display:inline-block;
  font-size:0.9em;
  color:#fff;
  margin-top:10px;
}

.container {

}

.container .container-inner {
  padding:500px 0;
}

.button {
  border:0;
  background-color:#333;
  color:#fff;
  font-size:1.1em;
  line-height:1;
  padding:0.9em 2em;
  border-radius:2px;
}

/*** TEST ***/
.test {
  background-color:#fff;
  width:100%;
  padding:120px;
}
